body {
  text-align: center;
  background-color: #8caa8c;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #dfec95;
}

#level-titles {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #dfec95;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 35%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(209, 103, 103);
}

.green {
  background-color: rgb(116, 206, 116);
}

.blue {
  background-color: rgb(98, 98, 184);
}

.yellow {
  background-color: rgb(222, 222, 39);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
